body {
    background-color: black;
    background-image: url(assets/43040-Batman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:beige;
}

img{
    height: 290px;
    border: 5px solid rgb(231, 223, 108);
    border-radius: 20px;
}

p{ 
    color: lightskyblue;
}

h1 { 
    font-style:inherit;
    color:rgb(164, 195, 231);
    
}

h3{
    color: rgb(236, 214, 90);
}

h4{
    color:rgb(107, 103, 103);
}